# VSCode settings
.vscode/

# PyCharm / IntelliJ IDEA settings
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
